@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.urbanist-font {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Humane-bold";
  src: url('/fonts/Humane-Bold.ttf') format("truetype");
  font-display: block;
}

.humane-bold-font {
  font-family: "Humane-bold";
}
