#page2 {
    height: 80vh;
    max-height: 1000px;
    width: 700vw;
    display: flex;
    align-items: end;
    
}

#page2 .horizontal {
    height: 80%;
    width: 100%; /* Enough width to allow horizontal scrolling */

    display: flex;
    align-items: center;
}

.gradient-text {
    background: linear-gradient(to bottom, #FDFDFB, #FAF100);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.img-radial-gradient {
    background: radial-gradient(circle, #F22FB0 , transparent 50%);
}