.events-section {
    min-height: 100vh;
    height: auto;
}

.events-section .title .header {
    width: 70%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 15vh;
    opacity: 0;
    transform: translateY(500px);
    transition: all 2s ease;
}

.events-section .title .header.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.events-section .sub {
    opacity: 0;
    transition: opacity 1s ease;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.events-section .sub.fade-in {
    opacity: 1;
}

.events-section .card-scroll-wrapper {
    position: relative;
    width: 100%;
    min-height: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.events-section .card-scroll-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 85%;
    height: 80%;
    scroll-snap-type: x mandatory;
    padding: 2rem;
    box-sizing: border-box;
}

.events-section .card {
    height: 100%;
    perspective: 1000px;
    cursor: pointer;
    scroll-snap-align: center;
    border-radius: 18px;
}

.events-section .card-1,
.events-section .card-2,
.events-section .card-3,
.events-section .card-4,
.events-section .card-5 {
    margin-right: calc((100% - 900px)/2);
}

.events-section .card.flipped .card-inner {
    transform: rotateY(180deg);
    box-shadow: none;
}

.events-section .card-inner {
    position: relative;
    width: 300px;
    height: 470px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.events-section .card-front,
.events-section .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 18px;
}

.events-section .card-front {
    transition: background-image 1s ease, box-shadow 1s ease;
    background-size: cover;
}

.events-section .card:hover .card-front {
    background-size: cover;
}

.events-section .card-back {
    background: #6c757d;
    color: #fff;
    transform: rotateY(180deg);
    transition: box-shadow 1s ease;
}

.events-section .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 300px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: transform 0.2s, background-color 0.2s;
}

.events-section .scroll-button.left {
    left: 3rem;
}

.events-section .scroll-button.right {
    right: 3rem;
}

.events-section .scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.events-section .scroll-button:active {
    transform: translateY(-50%) scale(0.95);
}

@media (max-width: 1020px) {
    .events-section .title .header {
        padding-top: 15vh;
        width: 100%;
    }

    .events-section .sub {
        width: 60%;
        margin-top: 2vh;
        margin-bottom: 6vh;
    }

    .events-section .card-1,
    .events-section .card-2,
    .events-section .card-3,
    .events-section .card-4,
    .events-section .card-5 {
        margin-right: 40px;
    }

    .events-section .scroll-button {
        width: 40px;
        height: 200px;
    }

    .events-section .scroll-button.left {
        left: 1rem;
    }

    .events-section .scroll-button.right {
        right: 1rem;
    }
}

@media (max-width: 400px) {
    .events-section .title .header {
        padding-top: 15vh;
        width: 100%;
    }

    .events-section .sub {
        width: 60%;
        margin-top: 2vh;
        margin-bottom: 0vh;
    }

    .events-section .card-inner {
        width: 250px;
        height: 392px;
    }

    .events-section .scroll-button {
        width: 30px;
        height: 150px;
    }

    .events-section .scroll-button.left {
        left: 1rem;
    }

    .events-section .scroll-button.right {
        right: 1rem;
    }
}

.events-section .card-1 .cf1 {
    background-image: url("../../../assets/HomePage/Events/cf1.png");
}

.events-section .card-1:hover .cf1 {
    background-image: url("../../../assets/HomePage/Events/ch1.png");
}

.events-section .cf1:hover,
.events-section .cb1:hover {
    box-shadow: 0 0 30px #fe5013;
}

.events-section .card-2 .cf2 {
    background-image: url("../../../assets/HomePage/Events/cf2.png");
}

.events-section .card-2:hover .cf2 {
    background-image: url("../../../assets/HomePage/Events/ch2.png");
}

.events-section .cf2:hover,
.events-section .cb2:hover {
    box-shadow: 0 0 30px #ff006e;
}

.events-section .card-3 .cf3 {
    background-image: url("../../../assets/HomePage/Events/cf3.png");
}

.events-section .card-3:hover .cf3 {
    background-image: url("../../../assets/HomePage/Events/ch3.png");
}

.events-section .cf3:hover,
.events-section .cb3:hover {
    box-shadow: 0 0 30px #9747ff;
}

.events-section .card-4 .cf4 {
    background-image: url("../../../assets/HomePage/Events/cf4.png");
}

.events-section .card-4:hover .cf4 {
    background-image: url("../../../assets/HomePage/Events/ch4.png");
}

.events-section .cf4:hover,
.events-section .cb4:hover {
    box-shadow: 0 0 30px #2237c6;
}

.events-section .card-5 .cf5 {
    background-image: url("../../../assets/HomePage/Events/cf5.png");
}

.events-section .card-5:hover .cf5 {
    background-image: url("../../../assets/HomePage/Events/ch5.png");
}

.events-section .cf5:hover,
.events-section .cb5:hover {
    box-shadow: 0 0 30px #34fa46;
}

.events-section .card-6 .cf6 {
    background-image: url("../../../assets/HomePage/Events/cf6.png");
}

.events-section .card-6:hover .cf6 {
    background-image: url("../../../assets/HomePage/Events/ch6.png");
}

.events-section .cf6:hover,
.events-section .cb6:hover {
    box-shadow: 0 0 30px #faf100;
}