.footer-container {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.85) 0%,
            rgba(0, 0, 0, 0.85) 100%
        ),
        url("/assets/FooterSection/FooterBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: #8f8a8a;
    height: fit-content;
    padding: 2vh 0vw 0vh 0vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-container .main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1050px;
    z-index: 10;
    padding-top: 4vh;
}

.footer-container .logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    padding-left: 5%;
    height: 100%;
    color: #fbfbfd;
}

.footer-container .footer h1 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.footer-container .footer p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fcfafa;
}

.footer-container .footer p:hover {
    background: linear-gradient(
        to right,
        #faf100 0%,
        #fdc400 50%,
        #ffa600 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-container .copyright {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 400;
    color: #535353;
    order: 2;
    text-align: center;
    padding: 10px 0;
}

.footer-container .developer {
    background: linear-gradient(
        to right,
        #faf100 0%,
        #fdc400 50%,
        #ffa600 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* Left Animation Section */
.left-animation-section img {
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease;
}

/* Right Animation Section */
.right-animation-section img {
    width: 100%;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.left-animation-section img,
.right-animation-section img {
    width: 150%;
    height: fit-content;
    min-height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 1.5s ease-in-out;
}

.left-animation-section:hover img,
.right-animation-section:hover img {
    transform: none;
}

@media (max-width: 600px) {
    .footer-container {
        padding: 6vh 8vw 4vh 8vw;
    }

    .footer-container .main-body {
        flex-direction: column;
        align-items: center;
        color: #fbfbfd;
        padding-top: 0vh;
    }

    .footer-container .logo {
        width: 80%;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-container .footer {
        width: 100%;
        padding-left: 0%;
        flex-direction: column;
    }

    .footer-container .footer h1 {
        font-size: 30px;
        margin-top: 2rem;
    }

    .footer-container .footer p {
        font-size: 16px;
    }

    .footer-container .copyright {
        margin-top: 2rem;
        font-size: 18px;
        order: 3;
        margin-top: 3rem;
    }

    .left-animation-section,
    .right-animation-section {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .footer-container .student {
        display: none;
    }

    .left-animation-section,
    .right-animation-section {
        display: none;
    }

    .footer-container .developed-by {
        display: none;
    }

    .footer-container .main-body {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px;
    }

    .footer-container {
        padding: 5px;
    }

    .footer-container .logo,
    .footer-container .footer {
        width: auto;
        margin: 0 1rem;
        padding: 5px;
    }

    .footer-container .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        gap: 3rem;
        padding: 5px;
    }

    .footer-container .footer > div {
        margin: 0 1rem;
        padding: 5px;
    }
}
